<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSearchMemberId(f)" *ngIf="isVerified">
    <h3>Verify your member ID</h3>
    <ion-list>
      <ion-item>
        <!--<ion-label fixed>Member ID</ion-label>-->
        <ion-input
          type="text"
          name="memberId"
          placeholder="Enter Your Member ID"
          ngModel
          required></ion-input>
      </ion-item>
    </ion-list>
    <button
      ion-button
      type="submit"
      block
      [disabled]="!f.valid">Search</button>
  </form>

  <ion-list *ngIf="member">
    <ion-item >
      <p>{{member.firstName}} {{member.lastName}}</p>
      <p>MemberID: {{member.memberId}}</p>
    </ion-item>
  </ion-list>
  <button
    *ngIf="member"
    ion-button
    (click)="onConfirmMember(member)"
    block
    [disabled]="false">Confirm</button>
</ion-content>
