<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSearchMemberId(f)" *ngIf="!isVerified">
    <h3>Verify your member ID</h3>
    <ion-list>
      <ion-item>
        <!--<ion-label fixed>Member ID</ion-label>-->
        <ion-input
          type="text"
          name="memberId"
          placeholder="Enter Your Member ID"
          ngModel
          required></ion-input>
      </ion-item>
    </ion-list>
    <button
      ion-button
      type="submit"
      block
      [disabled]="!f.valid">Search</button>
  </form>
  <ion-list *ngIf="isMemberExists">
    <ion-item >
      <h2>{{member?.$key}}</h2>
      <h2>{{member?.firstName}} {{member?.lastName}}</h2>
      <h2>Member ID: {{member?.memberId}}</h2>
    </ion-item>
  </ion-list>
  <button
    *ngIf="isMemberExists"
    ion-button
    (click)="onConfirmMember(member)"
    block
    color="{{isVerified?'secondary':'danger'}}"
    [disabled]="isVerified">{{isVerified?'Verified':'Confirm It'}}</button>
</ion-content>
