<ion-header>

  <ion-navbar>
    <ion-title>{{eventGroup?.event.name | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card
    *ngFor="let member of members | async">
    <ion-card-content>
      <p>{{member.firstName}} {{member.lastName}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
          ion-button
          clear
          small
          (click)="onUpVote(member)"
          *ngIf="!isVoted(member)">Vote</button>
        <button
          ion-button
          clear
          small
          color="danger"
          (click)="onDownVote(member)"
          *ngIf="isVoted(member)">Unvote</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
