<ion-header>

  <ion-navbar>
    <ion-title>{{eventGroup?.event.name | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card
    *ngFor="let member of members | async">
    <ion-card-content>
      <p>{{member.firstName}} {{member.lastName}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col icon-left>
        <button
          ion-button
          clear
          small
          (click)="onUpVote(member)"
          *ngIf="!isVoted(member)">
          <ion-icon name="thumbs-up-outline"></ion-icon>
          <div>{{(getVoteCount(member))}}</div>
        </button>
        <button
          ion-button
          clear
          small
          color="danger"
          (click)="onDownVote(member)"
          *ngIf="isVoted(member)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{(getVoteCount(member))}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
