<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<h3 text-center>Select an event</h3>-->
  <ion-list icon-left>
    <button
      ion-item
      *ngFor="let event of events | async"
      [navPush]="attendancePage"
      [navParams]="event">
      <ion-icon [name]="(event.when| date:'MM-dd-yyyy') <= (today| date:'MM-dd-yyyy')?'mail-open':'mail'" item-left></ion-icon>
      <h2>{{ event.name | uppercase }}</h2>
      <div>{{ event.when }} @ {{ event.where }} </div>
      <div>
        <ion-icon name="thumbs-up" color="secondary" *ngIf="getAttendanceCount(event.$key)>0"></ion-icon>
        <label>{{getAttendanceCount(event.$key)}} attendees</label>
</div>
</button>
</ion-list>
</ion-content>

